## 0. An end-to-end scikit learn workflow

In [1]:
import numpy as np

In [2]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("../data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create X (Features matrix)
X = heart_disease.drop("target", axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [4]:
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [5]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

#We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# 3. Fit the model to the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [7]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [8]:
#make a prediction
y_preds = clf.predict(X_test)

In [9]:
y_preds

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

In [10]:
# 4. Evaluate the model
clf.score(X_train, y_train)

1.0

In [11]:
clf.score(X_test, y_test)

0.8524590163934426

In [12]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.86      0.83      0.84        29
           1       0.85      0.88      0.86        32

    accuracy                           0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.85      0.85      0.85        61

In [13]:
confusion_matrix(y_test, y_preds)

array([[24,  5],
       [ 4, 28]])

In [14]:
accuracy_score(y_test, y_preds)

0.8524590163934426

In [15]:
# 5. Improve the model
#Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i)
    clf.fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")

Trying model with 10 estimators...
Model accuracy on test set: 85.25%
Trying model with 20 estimators...
Model accuracy on test set: 80.33%
Trying model with 30 estimators...
Model accuracy on test set: 83.61%
Trying model with 40 estimators...
Model accuracy on test set: 80.33%
Trying model with 50 estimators...
Model accuracy on test set: 86.89%
Trying model with 60 estimators...
Model accuracy on test set: 83.61%
Trying model with 70 estimators...
Model accuracy on test set: 83.61%
Trying model with 80 estimators...
Model accuracy on test set: 83.61%
Trying model with 90 estimators...
Model accuracy on test set: 81.97%

In [16]:
# 6. Save a model and load it

import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [17]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test,y_test)

0.819672131147541

## 1. Getting our data ready to be used with machine learning

Three main things we have to do:
    1. *Split the data* into features and labels (X, y)
    2. Filling (*imputing*) or disregarding missing values
    3. Converting non-numerical values to numerical values (*feature encoding*)

In [18]:
heart_disease = pd.read_csv("../data/heart-disease.csv")

In [19]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [20]:
X = heart_disease.drop("target", axis=1)
y = heart_disease.target

In [21]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [22]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [24]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

### 1.1 Make sure it's all numerical

In [25]:
car_sales = pd.read_csv("../data/car-sales-extended.csv")

In [26]:
len(car_sales)

1000

In [27]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [28]:
#Split data into X y
X = car_sales.drop("Price", axis=1)
y = car_sales.Price
#Split into training and test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [29]:
#Build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Toyota'

In [30]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 categorical_features)],
                               remainder='passthrough')

transformed_X = transformer.fit_transform(X)

In [31]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [32]:
dummies = pd.get_dummies(car_sales[["Make","Colour","Doors"]], dtype=int)

In [33]:
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [34]:
# Let's refit the model
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
model.fit(X_train, y_train)

RandomForestRegressor()

In [35]:
model.score(X_test, y_test)

0.3235867221569877

### 1.2 What if there were missing values?
- 1. Fill them with some value (imputation)
- 2. Remove the samples with missing data altogether.

In [36]:
car_sales_missing = pd.read_csv("../data/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [37]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [38]:
#Create X and y
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing.Price

In [39]:
#Let's convert our data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
categorical_features = ["Make","Colour","Doors"]

one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder='passthrough')

transformed_X = transformer.fit_transform(X)
transformed_X

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

### Opt 1: Fill missing data with pandas

In [40]:
# Fill the "Make" column
car_sales_missing["Make"].fillna("missing", inplace=True)

#Fill the "Colour" column
car_sales_missing["Colour"].fillna("missing", inplace=True)

#Fill the "Odometer (KM)" column
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(),inplace=True)

#Fill the "Doors" column
car_sales_missing.Doors.fillna(4, inplace=True)

In [41]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [42]:
# Remove rows with missing price value
car_sales_missing.dropna(inplace=True)

In [43]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [44]:
len(car_sales_missing)

950

In [45]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [46]:
#Let's convert our data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
categorical_features = ["Make","Colour","Doors"]

one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder='passthrough')

transformed_X = transformer.fit_transform(X)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

### Option2: Fill missing values with sklearn

In [47]:
car_missing_data = pd.read_csv('../data/car-sales-extended-missing-data.csv')
car_missing_data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [48]:
car_missing_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [49]:
car_missing_data.dropna(subset=["Price"], inplace=True)
car_missing_data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [50]:
# Split in to train and test datasets
X = car_missing_data.drop("Price",axis=1)
y = car_missing_data.Price

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [51]:
# For train dataset...

In [52]:
#Fill missing values with sklearn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#Fill categorical values with 'missing' and numerical values with mean
cat_imputer = SimpleImputer(strategy='constant', fill_value='missing' )
door_imputer = SimpleImputer(strategy='constant', fill_value=4)
num_imputer = SimpleImputer(strategy='mean')

#Define columns
cat_features = ['Make','Colour']
door_feature = ['Doors']
num_features = ['Odometer (KM)']

#Create an imputer (something that fills missing data)
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, num_features)
])

#Transform the data
filled_X_train = imputer.fit_transform(X_train)
filled_X_train

array([['Toyota', 'Black', 4.0, 86696.0],
       ['Toyota', 'Black', 4.0, 20714.0],
       ['Toyota', 'White', 4.0, 134415.0],
       ...,
       ['Honda', 'Blue', 4.0, 224900.0],
       ['missing', 'White', 3.0, 19482.0],
       ['Honda', 'Blue', 4.0, 199833.0]], dtype=object)

In [53]:
# For test dataset...
#Filling missing values with sklearn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#Fill categorical values with 'missing' and numerical values with mean
cat_imputer = SimpleImputer(strategy='constant', fill_value='missing')
door_imputer = SimpleImputer(strategy='constant', fill_value=4)
num_imputer = SimpleImputer(strategy='mean')

#Define application columns
cat_features = ['Make','Colour']
door_feature = ['Doors']
num_features = ['Odometer (KM)']

#Create an imputer 
test_imputer = ColumnTransformer([
    ('cat_imputer', cat_imputer, cat_features),
    ('door_imputer', door_imputer, door_feature),
    ('num_imputer', num_imputer, num_features)
])

#Transform the data
filled_X_test = imputer.fit_transform(X_test)
filled_X_test

array([['Toyota', 'Red', 4.0, 133195.0],
       ['BMW', 'White', 5.0, 37513.0],
       ['Toyota', 'White', 4.0, 28809.0],
       ['Nissan', 'White', 4.0, 82429.0],
       ['Nissan', 'White', 4.0, 234161.0],
       ['BMW', 'Blue', 5.0, 50363.0],
       ['Toyota', 'White', 4.0, 193629.0],
       ['Nissan', 'White', 4.0, 127386.0],
       ['Nissan', 'Blue', 4.0, 224410.0],
       ['Honda', 'White', 4.0, 132164.01162790696],
       ['Toyota', 'Blue', 4.0, 95317.0],
       ['Toyota', 'Blue', 4.0, 135080.0],
       ['Toyota', 'Black', 4.0, 58773.0],
       ['Nissan', 'Blue', 4.0, 228192.0],
       ['Honda', 'White', 4.0, 166028.0],
       ['BMW', 'White', 3.0, 242935.0],
       ['Toyota', 'Blue', 4.0, 243969.0],
       ['Toyota', 'White', 4.0, 95725.0],
       ['Nissan', 'Blue', 4.0, 189182.0],
       ['BMW', 'Blue', 3.0, 142189.0],
       ['Nissan', 'White', 4.0, 64362.0],
       ['Toyota', 'Green', 4.0, 88519.0],
       ['Toyota', 'Blue', 4.0, 61337.0],
       ['Honda', 'Blue', 4.0, 43981.0],
       ['Nissan', 'White', 4.0, 82726.0],
       ['Toyota', 'White', 4.0, 146307.0],
       ['Honda', 'White', 4.0, 82039.0],
       ['Toyota', 'Green', 4.0, 209457.0],
       ['BMW', 'White', 5.0, 84327.0],
       ['Toyota', 'White', 4.0, 124057.0],
       ['Toyota', 'Blue', 4.0, 165301.0],
       ['Honda', 'Blue', 4.0, 142403.0],
       ['Toyota', 'White', 4.0, 170085.0],
       ['BMW', 'White', 5.0, 102773.0],
       ['Nissan', 'Green', 4.0, 223555.0],
       ['Honda', 'Black', 4.0, 200490.0],
       ['Toyota', 'Blue', 4.0, 132164.01162790696],
       ['Nissan', 'Blue', 4.0, 195494.0],
       ['Toyota', 'Blue', 4.0, 193276.0],
       ['Toyota', 'missing', 4.0, 51788.0],
       ['Nissan', 'White', 4.0, 123121.0],
       ['Toyota', 'White', 4.0, 112004.0],
       ['Honda', 'Blue', 4.0, 132164.01162790696],
       ['BMW', 'Blue', 5.0, 72663.0],
       ['BMW', 'missing', 5.0, 132164.01162790696],
       ['Toyota', 'White', 4.0, 55828.0],
       ['Honda', 'White', 4.0, 42844.0],
       ['Nissan', 'Green', 4.0, 87701.0],
       ['Toyota', 'White', 4.0, 78123.0],
       ['Honda', 'Blue', 4.0, 51029.0],
       ['BMW', 'Blue', 3.0, 85320.0],
       ['Toyota', 'White', 4.0, 73869.0],
       ['Toyota', 'Blue', 4.0, 98971.0],
       ['Toyota', 'Blue', 4.0, 98619.0],
       ['Honda', 'Blue', 4.0, 76579.0],
       ['Nissan', 'White', 4.0, 197844.0],
       ['Toyota', 'White', 4.0, 132164.01162790696],
       ['Honda', 'White', 4.0, 121791.0],
       ['Nissan', 'Blue', 3.0, 180021.0],
       ['Toyota', 'Blue', 4.0, 181466.0],
       ['BMW', 'Red', 5.0, 132164.01162790696],
       ['Honda', 'Blue', 4.0, 40912.0],
       ['Toyota', 'White', 4.0, 104722.0],
       ['Toyota', 'Blue', 4.0, 223390.0],
       ['missing', 'Blue', 4.0, 83784.0],
       ['Nissan', 'Red', 4.0, 128235.0],
       ['Nissan', 'Blue', 4.0, 96785.0],
       ['Toyota', 'Black', 4.0, 136271.0],
       ['Honda', 'Blue', 4.0, 146233.0],
       ['Honda', 'White', 4.0, 195829.0],
       ['Toyota', 'Black', 4.0, 40285.0],
       ['BMW', 'Red', 5.0, 131587.0],
       ['Honda', 'White', 4.0, 211154.0],
       ['Honda', 'Blue', 4.0, 67875.0],
       ['missing', 'White', 3.0, 66461.0],
       ['BMW', 'White', 5.0, 152410.0],
       ['BMW', 'White', 3.0, 212920.0],
       ['Honda', 'Blue', 4.0, 42324.0],
       ['Nissan', 'Blue', 4.0, 178405.0],
       ['Toyota', 'White', 4.0, 72725.0],
       ['Toyota', 'Green', 4.0, 44436.0],
       ['Toyota', 'Green', 4.0, 132164.01162790696],
       ['Toyota', 'White', 4.0, 189194.0],
       ['BMW', 'Blue', 3.0, 163322.0],
       ['Nissan', 'Blue', 3.0, 28390.0],
       ['BMW', 'missing', 5.0, 206446.0],
       ['Honda', 'White', 4.0, 192655.0],
       ['Toyota', 'Blue', 4.0, 23241.0],
       ['Honda', 'Blue', 4.0, 132164.01162790696],
       ['Toyota', 'Blue', 4.0, 51155.0],
       ['Toyota', 'White', 4.0, 202435.0],
       ['Nissan', 'White', 4.0, 114699.0],
       ['Honda', 'Green', 4.0, 164493.0],
       ['BMW', 'White', 5.0, 178796.0],
       ['Honda', 'Blue', 4.0, 191622.0],
       ['Nissan', 'Green', 4.0, 189739.0],
       ['Honda', 'Green', 4.0, 132164.01162790696],
       ['Honda', 'Red', 4.0, 47933.0],
       ['Toyota', 'White', 4.0, 223727.0],
       ['BMW', 'Black', 3.0, 201190.0],
       ['Toyota', 'White', 4.0, 124205.0],
       ['Toyota', 'Green', 4.0, 213861.0],
       ['Toyota', 'Blue', 4.0, 229110.0],
       ['Honda', 'White', 4.0, 61163.0],
       ['Toyota', 'White', 4.0, 142633.0],
       ['Toyota', 'White', 4.0, 132164.01162790696],
       ['Toyota', 'Red', 4.0, 159925.0],
       ['Honda', 'Blue', 4.0, 173693.0],
       ['Honda', 'Blue', 4.0, 176566.0],
       ['Honda', 'White', 4.0, 34822.0],
       ['Nissan', 'Red', 4.0, 113987.0],
       ['Honda', 'White', 4.0, 130783.0],
       ['Toyota', 'Blue', 4.0, 103202.0],
       ['Toyota', 'Red', 4.0, 240017.0],
       ['Honda', 'White', 4.0, 130494.0],
       ['Toyota', 'Blue', 4.0, 132164.01162790696],
       ['Honda', 'White', 4.0, 85975.0],
       ['missing', 'White', 4.0, 132164.01162790696],
       ['missing', 'Blue', 4.0, 23545.0],
       ['Honda', 'Blue', 4.0, 26824.0],
       ['Nissan', 'Black', 4.0, 178899.0],
       ['Honda', 'Blue', 4.0, 71949.0],
       ['Honda', 'Blue', 4.0, 73869.0],
       ['Toyota', 'White', 4.0, 227387.0],
       ['Honda', 'Green', 4.0, 82783.0],
       ['Nissan', 'Red', 4.0, 132164.01162790696],
       ['Nissan', 'White', 4.0, 228090.0],
       ['Honda', 'Blue', 4.0, 73286.0],
       ['Nissan', 'Blue', 4.0, 10954.0],
       ['Toyota', 'Green', 4.0, 201964.0],
       ['BMW', 'White', 3.0, 146911.0],
       ['Honda', 'missing', 4.0, 132164.01162790696],
       ['Nissan', 'White', 4.0, 235952.0],
       ['BMW', 'Blue', 5.0, 212644.0],
       ['Honda', 'missing', 4.0, 144093.0],
       ['Honda', 'White', 4.0, 187380.0],
       ['Toyota', 'Black', 4.0, 17975.0],
       ['Honda', 'Blue', 4.0, 63825.0],
       ['Honda', 'missing', 4.0, 48069.0],
       ['Nissan', 'Green', 4.0, 233054.0],
       ['Toyota', 'Blue', 4.0, 237190.0],
       ['Toyota', 'Blue', 4.0, 225286.0],
       ['Honda', 'Blue', 4.0, 63800.0],
       ['Honda', 'Black', 4.0, 45152.0],
       ['BMW', 'Blue', 3.0, 132164.01162790696],
       ['Toyota', 'White', 4.0, 22257.0],
       ['Honda', 'White', 4.0, 95579.0],
       ['missing', 'White', 4.0, 134181.0],
       ['Honda', 'Red', 4.0, 108794.0],
       ['Toyota', 'White', 4.0, 231683.0],
       ['Toyota', 'Blue', 4.0, 76416.0],
       ['Toyota', 'Blue', 4.0, 171373.0],
       ['Nissan', 'Blue', 4.0, 71527.0],
       ['Toyota', 'Blue', 4.0, 39753.0],
       ['Nissan', 'Red', 4.0, 153074.0],
       ['Nissan', 'White', 4.0, 133441.0],
       ['Toyota', 'White', 4.0, 109013.0],
       ['Nissan', 'Black', 4.0, 77474.0],
       ['Nissan', 'Blue', 4.0, 104355.0],
       ['Honda', 'White', 4.0, 132164.01162790696],
       ['Toyota', 'White', 4.0, 221050.0],
       ['Toyota', 'Green', 4.0, 58938.0],
       ['Toyota', 'Black', 4.0, 132164.01162790696],
       ['Honda', 'White', 4.0, 164703.0],
       ['Honda', 'White', 4.0, 211862.0],
       ['Honda', 'Blue', 4.0, 223005.0],
       ['Toyota', 'Red', 4.0, 210870.0],
       ['Toyota', 'Black', 4.0, 98409.0],
       ['BMW', 'White', 5.0, 132164.01162790696],
       ['Honda', 'Red', 4.0, 61504.0],
       ['Nissan', 'White', 4.0, 19265.0],
       ['missing', 'White', 4.0, 235294.0],
       ['Honda', 'Red', 4.0, 42652.0],
       ['Toyota', 'Black', 4.0, 217253.0],
       ['Toyota', 'Blue', 4.0, 223875.0],
       ['Nissan', 'Black', 4.0, 59335.0],
       ['Toyota', 'White', 4.0, 117637.0],
       ['Honda', 'White', 4.0, 195787.0],
       ['Toyota', 'White', 4.0, 112968.0],
       ['BMW', 'White', 5.0, 192673.0],
       ['Honda', 'White', 4.0, 245327.0],
       ['Nissan', 'Black', 4.0, 239908.0],
       ['Nissan', 'Blue', 4.0, 41554.0],
       ['missing', 'Blue', 4.0, 174008.0],
       ['Nissan', 'Green', 3.0, 190794.0],
       ['missing', 'White', 4.0, 128072.0],
       ['Toyota', 'White', 4.0, 188338.0],
       ['Toyota', 'Red', 4.0, 241987.0],
       ['Honda', 'missing', 4.0, 150582.0],
       ['Nissan', 'White', 4.0, 129188.0]], dtype=object)

In [54]:
#Encoding the data
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

#categories to encode
categorical_features = ['Make', 'Colours', 'Doors']

#Create encoder
one_hot = OneHotEncoder()

#create column transformer
transformer = ColumnTransformer([
    ("one_hot", one_hot, categorical_features)
], remainder='passthrough')

In [55]:
encoded_X_train = transformer.fit_transform(pd.DataFrame(filled_X_train, columns=['Make', 'Colours', 'Doors','Odometer (KM)']))
encoded_X_train

<760x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3040 stored elements in Compressed Sparse Row format>

In [56]:
encoded_X_test = transformer.fit_transform(pd.DataFrame(filled_X_test, columns=['Make', 'Colours', 'Doors','Odometer (KM)']))
encoded_X_test

<190x15 sparse matrix of type '<class 'numpy.float64'>'
	with 760 stored elements in Compressed Sparse Row format>

In [57]:
#Now we've got our data as numbers and filled (no missing values)
#Let's fit a model

from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor()
reg.fit(encoded_X_train, y_train)
reg.score(encoded_X_test, y_test)

0.09619160384990633

## 2. Choosing the right estimator/ algo for your problem

### 2.1 Picking a machine learning model for a regression problem
Let's use the California Housing dataset.

In [58]:
import ssl
ssl._create_default_https_context = ssl._create_stdlib_context

In [59]:
#Get California Housing Dataset
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [60]:
housing_df = pd.DataFrame(housing["data"], columns=housing["feature_names"])

In [61]:
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [62]:
housing_df["target"] = housing["target"]
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [64]:
#Import algorithm
from sklearn.linear_model import Ridge

#Setup random seed
np.random.seed(42)

#Create the data
X = housing_df.drop('target', axis=1)
y = housing_df['target']

#Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#Instantiate and fit the model (on training set)
model = Ridge()
model.fit(X_train, y_train)

#check the score of the model (on the test set)
model.score(X_test, y_test)

0.5758549611440126

In [65]:
# Trying SVR-rbf
from sklearn.svm import SVR
svr_rbf = SVR(kernel="rbf")
svr_rbf.fit(X_train, y_train)
svr_rbf.score(X_test, y_test)

-0.01648536010717283

In [66]:
#Trying lasso regression model
from sklearn.linear_model import Lasso
lassoModel = Lasso(alpha=0.1)
lassoModel.fit(X_train, y_train)
lassoModel.score(X_test, y_test)

0.5318167610318159

In [67]:
# ensemble model (an ensemble is a combination of smaller models to try to make better prediction than single model)
from sklearn.ensemble import RandomForestRegressor
rfreg = RandomForestRegressor()
rfreg.fit(X_train, y_train)
rfreg.score(X_test, y_test)

0.8067600041906792

### 2.2 Choosing an estimator for a classification problem

In [68]:
heart_disease = pd.read_csv("../data/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [70]:
len(heart_disease)

303

In [77]:
#Consulting the map and it says to try linear svc

In [78]:
#Import LinearSVC from svm
from sklearn.svm import LinearSVC

#Setup random seed
np.random.seed(42)

#Make the data
X = heart_disease.drop("target", axis=1)
y = heart_disease.target

#split the data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#Instantiate LinearSVC
clf = LinearSVC()
clf.fit(X_train,y_train)

#Evaluate the LinearSVC
clf.score(X_test, y_test)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/svm/_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/svm/_base.py:1250: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.8688524590163934

In [80]:
#Trying ensemble classifiers
from sklearn.ensemble import RandomForestClassifier
#Setup random seed
np.random.seed(42)

#Make the data
X = heart_disease.drop("target", axis=1)
y = heart_disease.target

#split the data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#Instantiate RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train,y_train)

#Evaluate the RandomForestClassifier
clf.score(X_test, y_test)

0.8524590163934426

## 3. Fit the model/ algo on our data and use it to make predictions

### 3.1 Fitting the model to the data

In [83]:
from sklearn.ensemble import RandomForestClassifier
#Setup random seed
np.random.seed(42)

#Make the data
X = heart_disease.drop("target", axis=1)
y = heart_disease.target

#split the data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

#Instantiate RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train,y_train)

#Evaluate the RandomForestClassifier
clf.score(X_test, y_test)

0.8524590163934426

### 3.2 Make predictions using a machine learning model

2 ways to make prediction
1. `predict()`
2. `predict_proba()`

In [85]:
#use a trained model to make predictions
clf.predict(X_test)

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

In [87]:
np.array(y_test)

array([0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

In [88]:
#Compare predictions to truth labels to evaluate the model
y_preds = clf.predict(X_test)
np.mean(y_preds == y_test)

0.8524590163934426

In [90]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_preds)

0.8524590163934426

Make predictions with `predict_proba()`

In [93]:
# predict_proba() returns probabilites of a classification label for each test row. format -> [success: fail]
clf.predict_proba(X_test[:5])

array([[0.89, 0.11],
       [0.49, 0.51],
       [0.43, 0.57],
       [0.84, 0.16],
       [0.18, 0.82]])

`predict()` for regression

In [94]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [96]:
from sklearn.ensemble import RandomForestRegressor

np.random.seed(42)

X = housing_df.drop('target', axis=1)
y = housing_df.target

X_train,X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8066196804802649

In [97]:
y_preds = model.predict(X_test)

In [98]:
y_preds[:10]

array([0.49384  , 0.75494  , 4.9285964, 2.54029  , 2.33176  , 1.6549701,
       2.34323  , 1.66182  , 2.47489  , 4.8344779])

In [100]:
np.array(y_test[:10])

array([0.477  , 0.458  , 5.00001, 2.186  , 2.78   , 1.587  , 1.982  ,
       1.575  , 3.4    , 4.466  ])

In [101]:
#MAE
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_preds)

0.3265721842781009

## 4. Evaluating a machine learning model